.tooltip {
	border: 1px solid #111;
	border-radius: 5px;
	width: 330px;
	background: #282828;
	color: white;
	font: 12px/18px Arial, 'Helvetica Neue', Helvetica, sans-serif;
	box-shadow: inset 0 0 3px #444, 0 0 10px 2px #111;
}

.tooltip, .tooltip * {
	box-sizing: border-box;
}

.header {
	display: flex;
	border-bottom: 1px solid #111;
	background-color: rgba(0, 0, 0, .3);
}

.iconHolder {
	position: relative;
	flex: 0 0 60px;
	height: 60px;
	background-color: #111;
}

.iconHolder > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.titleContainer {
	align-self: center;
	padding: 0 15px;
	min-width: 0;
}

.name {
	font-size: 16px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.category {
	color: #aaa;
	font-size: 10px;
	text-transform: uppercase;
}

.description {
	margin: 0;
	border-bottom: 1px solid #111;
	padding: 8px;
	background: #222;
	font-size: 11px;
}

.meta {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 8px;
}

.meta > * {
	flex: 1 0 50%;
}

.meta > dt {
	color: #ffc99a;
}

.meta > dd {
	margin: 0;
}
