.headerMeta {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-left: auto;
	padding-right: 15px;
}

.headerMeta > dt {
	color: #aaa;
	margin-right: 6px;
}

.meta {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #111;
	padding: 8px;
}

.meta > * {
	flex: 1 0 50%;
}

.meta > dt {
	color: #ffc99a;
}
